# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.essentials.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\essentials\.idea\.idea.essentials\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
